<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>


<div class="container-404">
    <img th:src="@{/images/404.jpg}" alt="Lost">
    <h1>Oops! You've ventured into the Unknown</h1>
    <p>It seems like you've taken a detour into uncharted territories. The page you're looking for seems to have taken a
        vacation without leaving a forwarding address.</p>
    <p>Happy exploring!</p>
    <p><a href="/">Go Back Home</a></p>
</div>


<footer th:replace="~{fragments/footer :: footer}"></footer>


</body>
</html>
