<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head :: head}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!-- Login 2 - Bootstrap Brain Component -->
<div class="bg-light py-3 py-md-5" id="auth-login">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-4 col-lg-4 col-xl-7 col-xxl-4">
                <div class="bg-white p-4 p-md-5 rounded shadow-sm">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="mb-5">
                                <h3>Log in</h3>
                            </div>
                        </div>
                    </div>
                    <form th:action="@{/users/login}"
                          th:method="post">
                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            <div class="col-12">
                                <label for="username" class="form-label">Email <span class="text-danger">*</span></label>
                                <input
                                        th:value="${username}"
                                        type="text"
                                        class="form-control form-control-sm"
                                        name="username"
                                        id="username"
                                        placeholder="name@example.com"
                                        required>
                            </div>
                            <div class="col-12">
                                <label for="password" class="form-label">Password <span
                                        class="text-danger">*</span></label>
                                <input
                                        type="password"
                                        class="form-control form-control-sm"
                                        name="password"
                                        id="password"
                                        value=""
                                        required>
                            </div>

                            <p th:if="${bad_credential}" class="errors alert alert-danger">
                                Invalid username or password.
                            </p>
                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary" type="submit" value="Login">Log in now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>


</body>
</html>
